@CHARSET "ISO-8859-1";

* {
	margin: 0px;
}

img {
	border: 0px solid;
}

.cemPorCento {
	width: 100%;
}

.negrito {
	font-weight: bold;
}

.alinharCentro {
	text-align: center;
}

.alinharEsquerda {
	text-align: left;
}

.alinharDireita {
	text-align: right;
}

.inputTexto {
	width: 200px;
}

.colunaLabel {
	width: 120px;
}

.linhaBotoes input[type="submit"] {
	margin-right: 5px;
}

.bandeira {
	margin-right: 5px;
	border: 0px;
}