<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
						http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Horas</display-name>

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>

	<context-param>
	    <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
	    <param-value>false</param-value>
	</context-param>	
	
	<context-param>
	    <param-name>org.richfaces.enableControlSkinning</param-name>
	    <param-value>true</param-value>
	</context-param>
	
	<context-param>
	    <param-name>org.richfaces.skin</param-name>
	    <param-value>horas</param-value>
	</context-param>

	<session-config>
		<session-timeout>20</session-timeout>
		<tracking-mode>URL</tracking-mode>
	</session-config>
	
	<!-- Map these files with JSF -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
</web-app>